@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor0:#92A8D1;  
    --cor1: #8E949E;
    --cor2: #4B566B;
    --cor3: #1C2638;
    --cor4: #0F1C33;
    --cor5: #92a8d16e;

    --fonte-romantic: "Parisienne", cursive;
    --fonte-romantic2: "Great Vibes", cursive;
    --fonte-titulos: "Playfair Display", serif;
    --fonte-texto: "Inter", sans-serif;
}
html,body {
    height: 100%;
}
.presentes-section {
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor5);
}
.presentes-header {
    background-color: var(--cor4);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 4px 1px #0f1c3355;;
    position: relative;
}
.nav-bar {
    display: flex;
    background-color: var(--cor4);
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 4px #0f1c3369;
}
.menu-hamburguer {
    display: none;
}
.btn-close {
    display: none;
}
.btn-menu {
    background-color: var(--cor2);
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
}
.nav-item {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--cor1);   
    font-family: var(--fonte-titulos);
    font-style: italic;
    padding:10px;
    margin-left: 10px;
    border-radius: 8px;
    transition: 0.2s;
}
.nav-item:hover{
    transform: scale(1.05s);
    background-color: var(--cor3);
}
.title-presentes {
    color: var(--cor1);
    font-size: 2.6em;
    font-family: var(--fonte-romantic2);
    font-style: italic;
    margin-top: 20px;
    text-shadow: 1px 2px 1px #92a8d160;;
}
.destaque-title {
    color: var(--cor1);
    font-size: 5em;
    font-family: var(--fonte-romantic2);
    text-shadow: 1px 2px 1px #92a8d160;
}
.presentes-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.presentes-text {
    max-width: 400px;
    text-align: center;
    line-height:1.8;
    margin-top: 30px;
    padding: 20px;
    color: var(--cor4);
    font-size: 1.2em;
    font-family: var(--fonte-titulos);
    font-style: italic;
    
}
.alert-presentes {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--cor4);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 6px 0px #0f1c335f;
}
.icone-presente {
    width: 60px;
    height: 60px;

    border: 2px solid var(--cor4);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

}
.material-symbols-rounded {
    color: var(--cor4);
    font-size: 50px !important;
    vertical-align: middle !important;
}
.text-alert h3 {
    color: var(--cor3);
    font-family: var(--fonte-titulos);
    
}
.text-alert p {
    margin-top: 5px;
    color: var(--cor4);
    font-family: var(--fonte-texto);
    line-height: 1.1;
}
.title-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    padding: 20px;
}
.title-lista {
    font-family: var(--fonte-titulos);
    font-style: italic;
    color: var(--cor4);
    text-shadow: 1px 1px 2px #0f1c336c;
}
.text-lista {
    font-family: var(--fonte-texto);
    color: var(--cor4);
    font-size: 1.2em;
}
.ornamento {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    color: var(--cor4);
    font-size: 1.3rem;
}
.ornamento::before, .ornamento::after {
    content:"";
    width: 150px;
    height: 1px;
    background-color: #0F1C33;
}
.ornamento::before {
    margin-right: 12px;
}
.ornamento::after {
    margin-left: 12px;
}
.grid-presentes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0px 40px;
    
}
.card-presente {
    width: 100%;
    max-width: 280px;
    background-color: #c0cce24e;
    border: 1px solid var(--cor4);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    box-shadow: 2px 2px 6px 0px #0f1c335f;
}
.card-presente:hover{
    scale: 1.1;
}
.card-presente > h3 {
    font-family: var(--fonte-titulos);
    color: var(--cor4);
}
.card-presente > img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 6px;
}
.card-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 8px;
    align-items: center;
}
.btn-reservar {
    padding: 10px 35px;
    border-radius: 8px;
    border: 1px solid var(--cor3);
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte-texto);
    transition: 0.3s;
}
.btn-reservar:hover {
    scale: 1.05;
     background-color: var(--cor0);
     border: 1px solid var(--cor0);
    cursor: pointer;
}
.btn-reservar.reservado {
    background-color: #c9c9c9;
    color: #666;
    cursor: not-allowed;
    transform: none;
    pointer-events: none;
}
.icone-coracao {
    font-size: 30px;
}
.funcionamento-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--cor4);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 6px 0px #0f1c335f;
}
.funcionamento-title {
    font-family: var(--fonte-titulos);
    color: var(--cor4);
    
}
.funcionamento-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.funcionamento-content {
    max-width: 200px;
    padding: 15px;
    text-align: center;
    justify-items: center;
}
.etapas-funcionamento {
    margin: 5px 0px;
    color: var(--cor4);
    font-family: var(--fonte-titulos);
    
}
.next-etapa {
   display: flex;
   align-items: center;
}
.text-funcionamento {
    color: var(--cor4);
    font-family: var(--fonte-texto);
    font-size: 0.8em;
}


@media (max-width: 900px) {
.grid-presentes {
grid-template-columns: repeat(2, 1fr); 
justify-items: center; 
}
.destaque-title {
    font-size: 3.5em;
}
.funcionamento-box {
    flex-direction: column; 
    gap: 20px;
}
.next-etapa .material-symbols-rounded {
    transform: rotate(90deg); 
}
.next-etapa {
    justify-content: center;
}
}

@media (max-width: 600px) {
.nav-bar {
    width: 100%;
    justify-content: flex-start;
    padding: 15px;
}
.nav-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    top:0;
    left: 0;
    height:100vh;
    width: 280px;
    z-index: 999;
    background-color: #0f1c337d;
    backdrop-filter: blur(10px);
}
.nav-item {
    color: var(--cor1);
    font-weight: bolder;
    font-size: 1.4em;
}
.nav-item:hover {
    background-color: var(--cor2);
}
.nav-items.active {
    display: flex;
}
.menu-hamburguer {
    display: block; 
}
.btn-close {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
}
.btn-close:hover {
    transform: scale(1.05);
    background-color: var(--cor2);
}
.btn-close .material-symbols-rounded {
    color: var(--cor2); 
    font-size: 50px !important;
    font-weight: bolder;
}
.btn-close.active {
    display: block !important;
}
.btn-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}
.btn-menu .material-symbols-rounded {
color: var(--cor0);
font-size: 40px !important;
}
.btn-menu:hover {
    transform: scale(1.05);
    background-color: var(--cor3);
}
.presentes-header {
    height: auto;
    padding-bottom: 25px;
    margin-top: -1px;
}
.title-presentes {
    font-size: 2em; 
}
.destaque-title { 
    font-size: 2.8em;
}
.alert-presentes {
    flex-direction: column; 
    text-align: center;
    gap: 15px;
    padding: 20px;
    margin: 20px;
}
.grid-presentes {
    grid-template-columns: 1fr; 
    padding: 0px 20px;
}
}